section(ng-controller='LoginController')
  div(data-ng-show="authentication.user")

    ul
      li
        a(href="#/articles") List Articles
      li
        a(href="/#/articles/create") Create Article