section
  h1 New Article

  form(data-ng-submit="create()" novalidate)
    div
      div
        input(type="text" data-ng-model="title" id="title" placeholder="Title" autofocus autocomplete="off" required)
    div
      div
        textarea(data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content")
    div
      input(type="submit")
    div(data-ng-show="error")
      storng(data-ng-bind="error")