//- form(action="/autosave")
//- 	input.title(placeholder="title" ng-model="home.say")
//- 	textarea

//- h1 hello from home.client.view.html

//- {{ home.say }}

input(type="text" ng-model="home.say")
input(type="text" ng-model="home.say")