<!DOCTYPE html>
<html>
<head>
	
	<title><%= title %></title>

  <base href="/">

  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  
  <header class="main-header">
    <div class="main-header__container">
      <div class="main-header__logo"><a href="/">Bloom</a></div>

      <nav class="main-header__account">
          <% if (user) { %>
            <a href="/signout">Sign out</a>
          <%  } else { %>
          <% } %>
      </nav>

    </div>
  </header>

  <main class="main">
    <section class="main__container" ng-view></section>
  </main>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	<script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>