<!DOCTYPE html>
<html>
<head>

	<title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  
  <header class="main-header">
    <div class="main-header__container">
      <div class="main-header__logo">Bloom</div>
    </div>
  </header>

  <main class="main">
    <section class="main__container">

      <div class="signin__form">
        <!-- Display flash messages  -->
        <% for(var i in messages) { %>
           <div class="flash"><%= messages[i] %></div>
        <% } %>

        <!-- Render the signin form  -->
        <form action="/signin" method="post">
          <input type="text" name="username" placeholder="Username" autofocus />
          <input type="password" name="password" placeholder="Password" />
          <input type="submit" value="Sign In" />
        </form>

        <div class="signin__oauth">
          Signin with another account
          <ul>
            <li><a href="/oauth/facebook">Facebook</a></li>
            <li><a href="/oauth/twitter">Twitter</a></li>
            <li><a href="/oauth/google">Google</a></li>
          </ul>
        </div>

        <div class="signin__signup">
          Don't have an account yet?
          <a href="/signup" class="signin__signup-button">Signup</a>
        </div>
      </div>

    </section>
  </main>

</body>
</html>